* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1490px) {
  main {
    padding: 0;
  }
}




h1{
  text-align: center;
  padding: 7px;
}

header{
  background-color: #ff5000;
}

#activelink{
  font-weight: bold;
  text-decoration: underline;
}

.titlelinks{
  text-align: center;
}

.titlelinks ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  *display: inline;
}
.titlelinks li {
  float: left;
  padding: 5px;
  margin: 3px;
  list-style-type: none;
}

a:link{
  font: Oswald;
  color: #000000;
  text-decoration: none;
}

a:visited{
  font: Oswald;
  color: #000000;
  text-decoration: none;
}

a:hover{
  font: Oswald;
  color: #ffffff;
  text-decoration: none;
}

a:active{
  font: Oswald;
  color: #ffffff;
  text-decoration: none;
}



.text {
  margin-bottom: 20px;
  margin-top: 40px;
}

.text p {
  margin-bottom: 20px;
  margin-top: 40px;
}

.image {
  max-width: 50%;
  margin-bottom: 20px;
  margin-top: 40px;
}

/* grid fyrir efni */

.grid{
  max-width: 1200px;
  margin: 0 auto;
}

.grid__row {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
}

.grid__col {
  display: flex;  
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
}

.grid__row:nth-child(2n) .grid__col:first-child {
  order: 2;
}

@media (min-width: 1000px) {
  .grid__row {
    flex-direction: row;
  }

  .grid__col {
    margin-bottom: 40px;
    width: 50%;
  }

  .grid__row:nth-child(2n) .grid__col:first-child {
    order: 0;
  }
}

.offset50{
  margin-left: 50%;
}